.off {
  display: none;
}

#txt {
  background-color: #fff;
  color: #000;
}

#vocab {
  max-width: 400px;
}

.vocab-pair {
  display: block;
}

.vocab-pair .word:hover {
  color: blue;
}


.vocab-pair .word {
  padding: 0.5em;
  cursor: pointer;
}

.vocab-pair .des {
  display: none;
}


.vocab-pair:hover .des {
  color: blue;
  display: inline;
  position: absolute;
  z-index: 5;
  background-color: white;
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid;
  left: 7em;
}

.vocab-pair:hover .des:before {
  content: '"';
}

.vocab-pair:hover .des:after {
  content: '"';
}

#storytellers { 
  margin: 0;
  padding: 0;
  list-style-type: none; 
}
#storytellers img {
  margin: 0.5em;
}
.storytellers-cont {
  margin-bottom: 1em;
}