h1 {
  margin-left: 1em;
}

.off {
  display: none;
}

#txt {
  background-color: #fff;
  color: #000;
}

#vocab {
  max-width: 400px;
}

.vocab-pair {
  display: block;
}

.vocab-pair .word:hover {
  color: rgb(16, 119, 49);
}


.vocab-pair .word {
  padding: 0.5em;
  cursor: pointer;
}

.vocab-pair .des {
  display: none;
}


.vocab-pair:hover .des {
  color: rgb(16, 119, 49);
  font-weight: bold;
  font-size: 1.5em;
  display: inline;
  position: absolute;
  z-index: 5;
  background-color: white;
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid;
  left: 7em;
}

.vocab-pair:hover .des:before {
  content: '"';
}

.vocab-pair:hover .des:after {
  content: '"';
}

#storytellers { 
  margin: 0;
  padding: 0;
  list-style-type: none; 
}
#storytellers img {
  margin: 0.5em;
}
.storytellers-cont {
  margin-bottom: 1em;
}

.storytellers-cont { color: rgb(111, 150, 250); }

#vocab-title, #vocab .word {
  color: rgb(16, 119, 49);
}

img.p0, img.p1 { 
  float: left; 
  margin: 0.75em; 
  width: 40px;
}


.player0 { 
  color: green;
}
.player1 {
  color: blue;
}