<div class="row">
  <div class="col-md-2">
    <div class="well">
      <h3>Partners</h3>
      <ul>
        <li ng-repeat='(key, user) in game.currentGame.users'>{{user.name}}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-10">
    <div class="row">
      <h2>Continue this story:</h2>
    </div>
    <div class="row">
      <p>{{game.currentGame.prompt}}</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="well">
      <h3>Words</h3>
      <ul>
        <li ng-repeat='(key, item) in game.currentGame.wordList'>
          {{item.word}}
          </li>
        </ul>
    </div>
  </div>
  <div class="col-md-10">
    <div class="well">
      <p ng-repeat='(key, sentence) in game.currentGame.sentences'>{{sentence}}</p>
    </div>
  </div>
</div>

<div class="sentence-input">
  <div class="well">
    <div class="row">
      <form ng-submit="game.submitSentence()">
        <div class="col-md-10">
          <input type="text" class="form-control" ng-model="game.currentGame.newSentence" />
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-primary" ng-click="game.submitSentence()">Submit Sentence</button>
        </div>
      </form>
    </div>
  </div>
</div>
