<div class="row">
  <div class="col-md-3">
    <div class="well side-bar">
      <h3>Authors</h3>
      <ul class="no-points">
        <li ng-repeat='user in game.currentGame.users'>
          <p ng-class="{'active': user.isTheirTurn}">{{user.displayName || user.name}} <span ng-show="game.isYou(user)">(You)</span></p>
        </li>
      </ul>
      <h3>Story Words</h3>
      <ul class="no-points">
        <li ng-repeat='item in game.currentGame.wordList'
           data-title="{{item.definition}}"
           data-placement="right"
           bs-tooltip>
          <p ng-class="{'striked': game.isWordUsed(item.word)}">{{item.word}}</p>
        </li>
        </ul>
      <h3>Goals</h3>
      <p >Words used {{game.currentGame.wordsUsedLength.length}} of {{game.currentGame.requirements.needed}}</p>
    </div>
  </div>
  <div class="col-md-offset-1 col-md-7">
    <div class="well" ng-show="!game.studentSetName()"/>
      <h2>Enter Your Name</h2>
      <input type="text" ng-model="game.currentGame.tempName" placeholder="Name"</input>
      </br>
      </br>
      <button class="btn btn-primary" ng-click="game.setStudentName(game.currentGame.tempName)">Confirm Name</button>
    </div>
    <div class="well invite-partner" ng-show="game.currentGame.partnerDivShow">
      <span class="close" ng-click="game.closePartnerURLDiv()">X</span>
      <h2>Invite Your Partner</h2>
      <p>Send this link to your partner so that you and your partner can join the same game.
      One person should share the link, and the other person should press the start game button.</p>
      <a href="{{game.currentGame.partnerURL}}">{{game.currentGame.partnerURL}}</a>
      <br/>
      <br/>
      <button class="btn btn-copy" clip-copy="game.currentGame.partnerURL"
        clip-click="game.getPartnerURL()"
        clip-click-fallback="game.fallback(game.getPartnerURL())">Copy Link</button>
    </div>
    <div class="well static-tutorial" ng-show="game.currentGame.instructionDivShow">
      <span class="close" ng-click="game.closeInstructionDiv()">X</span>
      <p>Take turns writing sentences using Story Words.</p>
      <p>You can use the past, present, or future tense of Story Words.</p>
      <p>Hover your cursor over (or if on mobile device, tap) the Story Words to see their definition.</p>
      <p>After completing the goal, you may send your story to your teacher or continue working on it.</p>
    </div>
    <h2>Continue this story:</h2>
    <p>{{game.currentGame.prompt}}</p>
    <div class="well story">
      <p class="story">
        <span ng-repeat='sentence in game.currentGame.sentences' ng-bind-html="sentence.entry">
      </p>
    </div>
    <div class="well">
      <div class="bottom-panel">
        <div class="submit-panel" ng-show="!game.disableTextArea()">
          <div class="row">
            <textarea type="text" class="form-control" ng-model="game.currentGame.newSentence"
              ng-disabled="game.disableTextArea()"
              placeholder="{{game.currentGame.textAreaPlaceHolder}}">
              </textarea>
          </div>
          <div class="row">
            <button type="button" class="btn btn-primary send" ng-click="game.submitEntry()">Send Sentence</button>
            <button type="button" class="btn btn-primary" ng-click="game.finish()" ng-show="game.isReadyToSubmit()"
              >Submit Story to Teacher</button>
          </div>
        </div>
        <div class="review-panel" ng-show="game.hasPartnerSubmissionToReview()">
          <h3>Peer Review</h3>
          <p><span ng-bind-html="game.sentenceToReview"></span></p>
          <button type="button" class="btn btn-primary send" ng-click="game.sentenceIsOK()">Correct Use</button>
          <button type="button" class="btn btn-primary send" ng-click="game.sentenceIsNotOK()">Incorrect Use</button>
          <br/>
          <p>Please review your partner's sentence for correct or incorrect usage.</p>
        </div>
        <div class="row">
          <p ng-show="game.hasFinishMessageToShow()">{{game.currentGame.finishMessageToShow}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
