<div class="row">
  <div class="col-md-3">
    <div class="well side-bar">
      <h3>Authors</h3>
      <ul class="no-points">
        <li ng-repeat='user in game.currentGame.users'>
          <p ng-class="{'active': user.isTheirTurn}">{{user.name}}</p>
        </li>
      </ul>
      <h3>Story Words</h3>
      <ul class="no-points">
        <li ng-repeat='item in game.currentGame.wordList'
           data-title="{{item.definition}}"
           data-placement="right"
           bs-tooltip>
          <p ng-class="{'striked': game.isWordUsed(item.word)}">{{item.word}}</p>
        </li>
        </ul>
      <h3>Goals</h3>
      <p >Words used {{game.currentGame.wordsUsedLength.length}} of {{game.currentGame.requirements.needed}}</p>
    </div>
  </div>
  <div class="col-md-offset-1 col-md-7">
    <div class="well static-tutorial">
      <p>You can use the past tense of verbs.</p>
      <p>You can highlight for the definition.</p>
    </div>
    <h2>Continue this story:</h2>
    <p>{{game.currentGame.prompt}}</p>
    <div class="well">
      <p ng-repeat='sentence in game.currentGame.sentences' ng-bind-html="sentence.entry"></p>
    </div>
    <form ng-submit="game.submitEntry()">
      <input type="text" class="form-control" ng-model="game.currentGame.newSentence"
        ng-disabled="!game.isLocalPlayersTurn()"
      />
      <button type="button" class="btn btn-primary" ng-click="game.submitEntry()">Submit Sentence</button>
    </form>
    <form ng-submit="game.finish()">
      <button type="button" class="btn btn-primary" ng-click"game.finish()" ng-show="game.isReadyToSubmit()">Submit Story to Teacher</button>
    </form>
  </div>
  <div class="col-md-2"></div>
</div>
