<div class="row">
  <form class="css-form" novalidate>
    <input type="text" class="form-control input-lg" ng-model="form.currentForm.name" placeholder="Name" />
    <br/>
    <input type="text" class="form-control input-lg" ng-model="form.currentForm.prompt" placeholder="Prompt" />
    <h3>Words with Definition</h3>
    <div class="col-md-offset-1">
      <div ng-repeat="wordTup in form.currentForm.wordList">
        <input type="text" class="form-control" ng-model="wordTup.word" placeholder="Word" />
        <br/>
        <input type="text" class="form-control" ng-model="wordTup.definition" placeholder="Definition" />
        <br/>
        <button class="btn btn-warning" ng-click='form.removeWord(wordTup)' role="button">Remove {{wordTup.word}}</button>
        <br/>
        <br/>
      </div>
      <button class="btn" role="button" ng-click='form.addNewWord()'>Add Another Word</button>
    </div>
    <br/>
    <input type="text" class="form-control input-lg" ng-model="form.currentForm.requirements.needed" placeholder="Number of Words Needed"/>
    <br />
    <button class="btn btn-primary btn-lg" role="button" ng-click='form.submitForm(form.currentForm)' ng-disabled="form.$invalid">Submit Activity</button>
  </form>

  <br />
  <div ng-show='form.message' class="row well">
    <p>{{form.message}}</p>
  </div>
</div>
