<div class="jumbotron">
  <h1>Welcome to Quill Writer</h1>
  <p>Quill Writer is a cooperative writing game. Two students will write
  a passage  together using a shared list of story words.</p>

  <div class="row text-center">
    <h2>{{myactivity.activity.name}}</h2>
    <p>{{myactivity.activity.prompt}}</p>
    <br/>
    <input placeholder="Your name" ng-model="myactivity.userName" type=text"></input>
    <br/>
    <br/>
    <button type="button" class="btn btn-primary send" ng-click="myactivity.next(myactivity.userName)">Next</button>
    <br/>
  </div>



</div>

