<div class="jumbotron">
  <h1>Welcome to Quill Writer</h1>
  <p>Quill Writer is a cooperative writing game. Two students will write
  a passage  together using a shared list of story words.</p>

  <div class="row text-center">
    <p>Select a sample activity</p>
    <select ng-model="sample.thePrompt" ng-options="prompt.name for prompt in sample.availablePrompts"></select>
    <br/>
    <br/>
    <button type="button" class="btn btn-primary send" ng-click="sample.next(sample.thePrompt)">Next</button>
    <br/>
    <p class="italic">If your teacher has created an activity, ask your teacher to share the link.</p>
  </div>



</div>

