p.active {
  font-weight: bold;
}
p.striked {
  text-decoration: line-through;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
