body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
}

p.active {
  font-weight: bold;
}
p.striked {
  text-decoration: line-through;
}

p.italic {
  font-style: italic;
  font-size: 12px;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.navbar {
  background-color: #599CC3;
}

.navbar .navbar-brand.title {
  color: #FFF;
  font-size: 30px;
}

.navbar .navbar-brand.tagline {
  color: #000;
}

.well {
  border: none;
}

.well.static-tutorial {
  background-color: #FFFDE3;
}

.well.side-bar {
  background-color: #F3F4F4;
  font-size: 16px;
}

ul.no-points {
  list-style: none;
  padding-left: 10px;
}

.side-bar h3 {
  color: #599CC3;
  font-weight: bold;
}

.bottom-panel {
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
}

.bottom-panel .row {
  padding-bottom: 20px;
}

.bottom-panel .row .btn {
  margin-right: 20px;
}

.bottom-panel .row .btn.send {
  background-color: #ec673b;
  border-color: #ec673b;
}

.bottom-panel .row .btn.send:hover {
  background-color: #EC6400;
  border-color: #EC6400;
}

.tooltip {
  min-width:350px;
  font-size: 16px;
}

p.story {
  font-size: 18px;
  line-height: 2.5;
}

.well.story {
  margin-right: -40px;
  margin-left: -40px;
}
