p.active {
  font-weight: bold;
}
p.striked {
  text-decoration: line-through;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.navbar {
  background-color: #599CC3;
}

.navbar .navbar-brand.title {
  color: #FFF;
  font-size: 30px;
}

.navbar .navbar-brand.tagline {
  color: #000;
}
