<div class="jumbotron">
  <h1>Welcome to Quill Writer</h1>
  <p>Quill Writer is a cooperative writing game. Two students will write
  a passage  together using a shared list of story words.</p>

  <div class="row text-center">
    <p class="italic">The Quill Writer teams have created 10 activities for new users.</p>
    <button type="button" class="btn btn-primary send" ng-click="home.trySampleActivity()">Try a Sample Activity</button>
  </div>

  <div class="row text-center">
    <p class="italic">Teachers, create your own activities and then share the links with your students</p>
    <button type="button" class="btn btn-primary send" ng-click="home.createNewActivity()">Create a New Activity</button>
  </div>



</div>

